// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.products-inline-group-x > .row {
  overflow-x: auto;
}

.products-inline-group-x > .row > .col-sm-4 {
  display: inline-block;
  float: none;
}

.products-inline-group-y {
  overflow-y: scroll;
}
